<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block; object-fit: cover;" src="/{{artist.picture}}" data-holder-rendered="true">
          <div class="card-body">
            <h5 class="card-text">{{artist.name}}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{artist.releases.length}} реліз<span ng-if="1 < artist.releases.length && artist.releases.length < 5">и</span><span ng-if="4 < artist.releases.length || artist.releases.length == 0">ів</span> </small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center" >
              <p class="text-muted">{{artist.description}}<span ng-if="!artist.description">Опис відсутній</span> </p>

        </div>
      </div>

    </div>

    <h2 style="align: center;" ng-if="artist.releases.length">Релізи</h2>
    <div class="row">

      <div class="col-md-4" ng-repeat="release in artist.releases">
        <div ng-include="'release_basic.html'"></div>
      </div>
    </div>



    <h2 style="align: center;" ng-if="tracks.length">Треки</h2>
    <div class="row">

      <div class="col-md-12" ng-repeat="track in artist.tracks">

          <div ng-include="'track_basic.html'"></div>

      </div>

    </div>
