<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block; object-fit: cover;" src="/{{release.cover}}" data-holder-rendered="true">
          <div class="card-body">
            <h5 class="card-text">{{release.name}}</h5>
            <p class="text-muted">Випущено {{release.released_at | date:'d.MM.y'}}</p>

          </div>
        </div>

      </div>

      <div class="col-md-8">
        <div class="d-flex justify-content-between align-items-center" >
          <p class="text-muted">{{release.description}}<span ng-if="!release.description">Опис відсутній</span> </p>

        </div>
      </div>

    </div>

    <h2 style="align: center;" ng-if="release.tracks.length">Треки</h2>
    <div class="row">

      <div class="col-md-12" ng-repeat="track in release.tracks">

          <div ng-include="'track_basic.html'"></div>

      </div>

    </div>

  </div>
</div>
